/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* Default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base */

body {
  font-family: "Open Sans", sans-serif;
}

/* Buttons */

.btn {
  padding: 0.3rem;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: #fff;
}

/* Section */

.section {
  padding: 1rem;
  margin: auto;
}

.section p {
  padding: 1rem 0;
}

/* Header */

.header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__item-list {
  list-style: none;
  display: flex;
}

.header__item {
  margin: 0 1rem;
}

.header__item a {
  text-decoration: none;
  color: #fff;
}

.header__item a:hover,
.header__item a:active,
.header__item a.active {
  color: #ffeb3b;
}

/* Card Details */

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__image,
.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

/* 404 Error MSG */
.errorMSG {
  padding: 1rem;
}
